:root{
    --borderColor:#ddd;
    --contentTitle:#444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: var(--borderColor);
}
a{
    text-decoration: none;
    color: var(--contentTitle);
}
.custom-a{
    text-decoration: underline;
}
.marginTop30 {
    margin-top: 30px;
}
.marginTop10{
    margin-top: 10px;
}
.marginTop5 {
    margin-top: 5px;
}
.topContainer{
    margin: auto;
    margin-top: 20px;
    width: 794px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
#language{
    padding: 0px 30px;
    border-radius: 5px;
}
#pdfBtn{
    padding: 5px 40px;
    border: none;
    background-color: rgb(236, 109, 109);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
}
#pdfBtn:hover{
    box-shadow: 0px 0px 5px 0px gray;
}
.mainContainer{
    width: 794px;
    min-height: 500px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.306);
    padding: 30px 0px;
    padding-bottom: 50px;
    padding-left: 20px;
}
/* HEADER */
.header{
    width: 100%;
    height: 200px;
    display: flex;
}
.nameSurname{
    font-size: 24px;
}
.profileImgContainer{
    width: 200px;
    height: 200px;
}
.profileImgContainer img{
    width: 100%;
}
.profileInfosContainer{
    height: 100%;
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    margin-left: 20px;
}
.profileInfoText{
    color: rgba(255,255,255,0.8);
}
/* CONTENT */
.content {
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    display: flex;
}
/* CONTENT LEFT */
.leftContainer{
    width: 200px;
    min-height: 100%;
}

.contactContainer{
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
}
.contactContainer i {
    color: #333;
}
.contactContainer a{
    font-size: 12px;
    color: #333;
}
#linkedin{
    color: #0072b1;
}
#github{
    color: #171515;
}
.leftSectionTitle{
    font-size: 16px;
    margin: 20px 0px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skillBox{
    background-color: #aaa;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
}
.languagesContainer{
    margin-bottom: 10px;
}
.languageTitle{
    font-size: 16px;
    color: #171515;
    margin-bottom: 5px;
}
.languageDetail{
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}
/* CONTENT RIGHT */
.rightContainer {
    min-height: 300px;
    flex: 1;
    padding: 0px 20px;
}
.contentComponent{
    border-left: 5px solid;
    padding-left: 20px;
    margin-top: 20px;
    border-color: #0072b1;
}
.componentTitle{
    font-size: 24px;
    border-bottom: 1px solid var(--contentTitle);
    color: var(--contentTitle);
}
.componentItemTitle{
    font-size: 18px;
    color: var(--contentTitle);
}
.componentItemSubTitle{
    font-size: 14px;
    color: var(--contentTitle);
}
.componentItemInfo{
    font-size: 12px;
    color: var(--contentTitle);
}
.componentItemDescription{
    font-size: 14px;
    color: var(--contentTitle);
}
.contentUl{
    padding-left: 30px;
}